.footerContainer
{
    padding: 3rem inherit;
    height: 45vh;
    position: relative;
  padding-top:10vh ;
  padding-bottom:10vh ;
}

.horizontalline
{
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-20%);
    width: 100vw;
    height: 1px;
    background: var(--gray_medium_color);
}
.footerContent
{
  display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo 
{
    font-family: var(--space_grotex);
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    width: 200px;
}
.footerlinks p
{
    color: var(--text_gray_color);
    text-transform: uppercase;
}
.footerlinks
{
    line-height: 2.5;
}
.footerlinks li 
{
    border-bottom: 1px solid transparent;
    transition: all 0.5s ease;
    padding: 0.25rem 0.85rem 0 0;
    border-radius: 0.15rem;
}
.footerlinks li:hover
{
    border-bottom: 1px solid white;
}
.footerContainer> p
{
    color: var(--text_gray_color);
}
