.introcontainer {
  padding: 0rem;
  overflow: hidden;
  border-radius: var(--border_radius);

  position: relative;
  margin: 2rem 0 6rem;
}

.introHeader {
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0;
  z-index: 1;
  background: linear-gradient(
        to right,
        rgb(73, 73, 73),
        white,
        rgba(116, 116, 116, 0.846)
      )
      padding-box,
    linear-gradient(
        to right,
        hsla(0, 0%, 12%, 0.29),
        rgba(255, 255, 255, 0),
        hsla(0, 0%, 12%, 0)
      )
      border-box;
  border: 1px solid transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.dots {
  display: flex;
}

.dots span {
  width: 13px;
  height: 13px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 0.35rem;
}
.dots .red {
  background-color: #f46f5c;
  box-shadow: 0 0 10px #f46f5c;
}
.dots .green {
  background-color: #57c353;
  box-shadow: 0 0 10px #91f38e;
}
.dots .orange {
  background-color: #f4bd4e;
  box-shadow: 0 0 10px #f4bd4e;
}
.leftIconHeader svg {
  font-size: 1.25rem;
  filter: drop-shadow(2px 2px 5px rgb(255, 255, 255));
}
.introInnerContainer {
  padding: 2rem;
  padding-bottom: 0;
  background: linear-gradient(var(--gray_color), rgba(10, 10, 10, 0.609))
      padding-box,
    linear-gradient(
        to right,
        hsl(0, 0%, 12%),
        rgba(255, 255, 255, 0.439),
        hsl(0, 0%, 12%)
      )
      border-box;
  border: 1px solid transparent;
  border-radius: var(--border_radius);
  z-index: 6;
}
.intro {
  height: 80vh;
  color: rgb(222, 222, 222);
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}
.intro span {
  font-style: italic;
  text-decoration: underline;
  font-weight: normal;
  color: rgb(255, 255, 255);
  transition: all 0.45s ease;
  cursor: cell;
}

.intro span:hover {
  color: #bcff08;
}
.arrowDown {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -20px);
}

.arrowDown svg {
  font-size: 4.2rem;
  animation: scrolldown 2s ease infinite;
}

@keyframes scrolldown {
  0% {
    transform: translate(-50%, -20px);
  }
  50% {
    transform: translate(-50%, 20px);
  }
  100% {
    transform: translate(-50%, -20px);
  }
}

@media screen and (max-width: 426px) {
  .intro {
    height: 65vh;
    padding: 1rem;
  }
  .arrowDown svg {
    font-size: 2rem;
  }
}

@media screen and (max-width: 321px) {
  .intro {
    height: 60vh;
    padding: 0rem;
  }
  .arrowDown svg {
    font-size: 1.8rem;
  }
}
