.introcontainer {
  padding: 0.5rem;
  overflow: hidden;
  border-radius: var(--border_radius);
    background: linear-gradient(transparent, rgba(0, 0, 0, 0)) padding-box,
              linear-gradient( rgba(75, 75, 75, 0), transparent) border-box;
  position: relative;
  margin: 2rem 0 6rem;
}
.introInnerContainer {
  padding: 2rem;
  padding-bottom: 0;
    background: linear-gradient(var(--gray_color), rgba(10, 10, 10, 0.609)) padding-box,
              linear-gradient( to right,hsl(0, 0%, 12%),rgba(255, 255, 255, 0.439), hsl(0, 0%, 12%)) border-box;
  border: 0.1px solid transparent;
  border-radius: var(--border_radius);

}
.intro {
  height: 80vh;
  color: rgb(222, 222, 222);
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;

}
.intro span {
  font-style: italic;
  text-decoration: underline;
  font-weight: normal;
  color: rgb(255, 255, 255);
  transition: all 0.45s ease;
  cursor: cell;
}

.intro span:hover {
  color: #bcff08;
}
