nav {
  padding: 1.5rem 2rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  font-family: var(--space_grotex);
  z-index: 1000;
  backdrop-filter: blur(2px);

}

.logo 
{
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    width: 200px;
}
.logo:hover
{
    text-shadow:var(--text_bg_light);
}

.navlinks {
  display: flex;
  align-items: center;
  border: 1px solid var(--border_light_color);
  /* padding: 0.5rem 1.5rem; */
  padding:0.85rem 0.25rem ;
  border-radius: 1.5rem;
  background-color: var(--gray_medium_color);
}

.navlinks li 
{
    position: relative;
}

.navlinks li a {
  padding: 0.5rem 1.25rem;
  margin: 0.5rem 0.25rem;
  backdrop-filter: blur(10px);
  position: relative;
  transition: all 0.25s ease;
}
.navlinks li a:hover{
    background-color: var(--gray_light_color);
}
.navlinks li::before
{
    z-index: 100;
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    background-color: white;
    border-radius: 1.5rem;
    transform: translate(-50%);
    box-shadow: var(--text_bg_light);
    transition: all 0.35s ease;

}
.navlinks li a.active
{
    background-color: var(--gray_light_color);
    box-shadow: 0px 0px 60px 0px rgb(52, 52, 52);
}
.socialLinks 
{
    display: flex;
}

.socialLinks a
{
    padding: 0.5rem 1.25rem;
    margin: 0 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
      transition: all 0.25s ease;
}

.socialLinks  a svg
{
    font-size: 1.65rem;
    margin: 0 0.25rem;
    transition: all 0.35s linear;
}

.socialLinks a:hover svg 
{
    transform: translate(2px, -2px);
}
