
.PICWrapper
{
  width:100%;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding: 1rem;
  border:2px solid red;
}

.PICWrapper .mediumfont, .PICSection .mediumfont
{
  color: var(--text_gray_color);
}

.PICDetails
{
  border: 1px solid #f4bd4e;
}

.PICOverview{
  border: 1px solid #f4bd4e;
}




