.phWrapper {
  position: relative;
  padding: 4rem 0;
  margin: 2rem 0;
}

.phWrapper .heading {
  color: var(--text_gray_color);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 1rem 0;
}


.phSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5vh 0 2vh;
}

.phSection .mainfont {
  padding-right: 1.85rem;
}

.phSection .mediumfont {
  color: var(--text_gray_color);
}

@media screen and (max-width:990px){
 .phWrapper
  {
    padding: 2rem 0;
    margin: 1rem 0;
  }
  .phWrapper .heading{
    padding: 0.5rem 0;
  }
  .phSection{
  
    margin :1rem 0;
  }

}

@media screen and (max-width:730px){
    .phSection
  {
    grid-template-columns: 1fr;
    margin: 0;
  }
  .phSection .mainfont
  {
    margin: 0.5rem 0;
    padding-right: 0;
  }
}
